PORT=8000
# Paste your MongoDB Atlas connection string here
MONGO_URI=mongodb+srv://amitkumar:Qwertyuiop%40563@ecommece.fhu9tou.mongodb.net/?appName=ecommece
JWT_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
CLIENT_URLS=http://localhost:3000,https://your-frontend.vercel.app
